<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
 
	<aop:aspectj-autoproxy />
	
<!-- Definition for student bean -->
	<bean id="employeeBean" class="com.mtit.beans.Employee">
		<property name="name" value="Zara" />
		<property name="dob" value="12-12-2016" />
		<property name="salary" value="11000" />
	</bean>
	
	<!-- <bean id="employeesManager" class="com.mtit.dataaccess.EmployeesManager" >
	
	</bean> -->
	
<!-- Definition for logging aspect -->
	<bean id="logging" class="com.mtit.dataaccess.AopDatabase" />
</beans>